div(class="col-lg-12")
	div(class="row")
		hr
		div(class="col-lg-4")
			h3 APOIO
			a(href="http://www.comdica.org.br/")
				img(src='../images/comdica.png', class="img-responsive", align="left")
			a(href="http://www.faccat.br/")
				img(src='../images/faccat.png', class="img-responsive", align="left")
		div(class="col-lg-4")
			h3 Contato
			p Rua Tristão Monteiro, 1278
			p Bairro Centro
			p Taquara, RS
			p Elania: (51) 3541.9231
		div(class="col-lg-4")
			h3 Links Úteis
			li
				a(href="http://www.taquara.com.br/") Prefeitura Municipal de Taquara
			li
				a(href="http://www.camarataquara.com.br/") Câmara Municipal de Vereadores de Taquara 
			li
				a(href="http://www.sdh.gov.br/assuntos/criancas-e-adolescentes") Secretaria de Direitos Humanos (Federal)
