div(class="col-lg-12")
	div(class="row")
		hr
		div(class="col-lg-8")
			h3 APOIO
			a(href="http://www.comdica.org.br/", target="_blanck")
				img(src='https://comdica.herokuapp.com/images/comdica.png', class="img-responsive", align="left")
			a(href="http://www.cottai.com/", target="_blanck")
				img(src='https://comdica.herokuapp.com/images/cottai.png', class="img-responsive", align="left")
			a(href="http://www.getupcloud.com.br/", target="_blanck")
				img(src='https://comdica.herokuapp.com/images/getup.png', class="img-responsive", align="left")
			a(href="http://www.faccat.br/", target="_blanck")
				img(src='https://comdica.herokuapp.com/images/faccat.png', class="img-responsive", align="left")
		div(class="col-lg-4")
			h3 CONTATO
			p Rua Tristão Monteiro, 1278
			p Bairro Centro
			p Taquara, RS
			p (51) 3541.9231
