ul(class="nav nav-justified")
	li
		a(href="/") Home
	li
		a(href="/doar") Por que doar?
	li
		a(href="/legislacao") Legislação
	li
		a(href="/comodoar") Como doar
	li
		a(href="/sobre") Sobre
	li
		a(href="/doar/index/#{session._id}") Minhas doações
