doctype html
html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title= title
	link(rel="stylesheet", href="/css/bootstrap.min.css")
	link(rel="stylesheet", href="/css/bootstrap-aux.css")
body
	div(class="container")
			div(class="masthead")
				h3(class="text-muted") Projeto
					ul(class="nav nav-justified")
						li(class="active")
							a(href="/home") Home
						li
							a(href="/amigos") Amigos
						li
							a(href="/usuarios") Usuários
						li
							a(href="/email") Entrar em contato
		block content
