extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-4")
			a.btn.btn-primary(href='/usuarios', role='button') Usuários »
		div(class="col-lg-4")
			a.btn.btn-primary(href='/entidades', role='button') Entidades »
		div(class="col-lg-4")
			a.btn.btn-primary(href='/doacoes', role='button') Doações »	
		div(class="row")
