doctype html
html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title= title
	link(rel="stylesheet", href="/css/bootstrap.min.css")
	link(rel="stylesheet", href="/css/justified-nav.css")
	link(rel="stylesheet", href="/css/style.css")
body
	div(class="container")
		div(class="col-lg-9")
			h2 Sistema de Doações
		div(class="col-lg-3")
			br
			a.btn.btn-primary(href='/login', role='button') Acessar sistema
	h4(class="text-muted")
	div(class="container")
		div(class="masthead")
			h4(class="text-muted")
				include partials/menu.jade
			block content
			include partials/footer.jade
	script(src="https://code.jquery.com/jquery-latest.min.js")
	script(src="https://yandex.st/highlightjs/7.3/highlight.min.js")
	script(src="https://buttons.github.io/buttons.js")
	script(src="/js/jquery.mask.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/validacpf.js")
	block scripts
