extends ../layout

block content
		div(class="jumbotron")
			div(class="col-lg-4")
				p(class="lead")
					a(href="#" target="_blank" class="btn btn-lg btn-primary") Usuários
			div(class="col-lg-4")
				p(class="lead")
					a(href="#" target="_blank" class="btn btn-lg btn-info") Entidades
			div(class="col-lg-4")
				p(class="lead") 
					a(href="#" target="_blank" class="btn btn-lg btn-warning") Xxxxx
