extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-8")
			h2 Como fazer?
			p(class="lead", class="text-justify")
				| Como são destinações dedutíveis diretamente do Imposto de Renda, tanto pessoa física como jurídica fazem a destinação e a deduzem integralmente do IR a pagar.
				br
				br
				| A destinação, da pessoa física, pode ser feita de duas formas:
				br
				br
				b 
					| - Até 6% por meio de depósito bancário, durante o ano todo, conforme estabelece o Art.22, da lei  nº 9532 de 10/12/1997.
					br
					br
					| - Até 3% por meio da declaração do imposto de renda nos meses de março e abril, diretamente no site do IR
			p(class="lead", class="text-justify") A pessoa física não mais precisará efetuar as doações até o dia 31/12 para informá-las na Declaração anual do exercício seguinte. Mesmo após encerrado o ano, a pessoa física poderá optar por doar uma parte de seu imposto devido, a ser verificado na elaboração de sua declaração.
			p(class="lead", class="text-justify")	Assim, embora o limite de dedução de pessoa física continue 6%, o contribuinte que preferir doar no momento da declaração de ajuste só poderá utilizar 3% do Imposto de Renda.
			br
			a(href="/login" class="btn btn-lg btn-success") Faça sua destinação, agora!
		div(class="col-lg-4")
			img(src='../images/hands500.jpg', class="img-circle img-responsive")
