extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-8")
			p(class="lead")
				//iframe(width='560', height='285', src='https://www.youtube.com/embed/f9-_mOv0v1g', frameborder='0', allowfullscreen='')
			p
		div(class="col-lg-4")
			p(class="lead") 
				| Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,
				| quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.			
			p
			a(href="/login" class="btn btn-lg btn-success") Entrar no Sistema
		div(class="row")
			div(class="col-lg-3")
				h2 Lar Padilha
					p(class="lead") 
						
					p
						a.btn.btn-primary(href='entidades/575f68a5bc6403440ff20957', role='button') Sobre a entidade »
			div(class="col-lg-3")
				h2 ENTIDADE 2
					p(class="lead")
						
					p
						a.btn.btn-primary(href='#', role='button') View details »
			div(class="col-lg-3")
				h2 ENTIDADE 3
					p(class="lead")
						
					p
						a.btn.btn-primary(href='#', role='button') View details »
			div(class="col-lg-3")
				h2 ENTIDADE 4
					p(class="lead")
					
					p
						a.btn.btn-primary(href='#', role='button') View details »
