extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-8")
			h2 Legislação
			p(class="lead")
				| A
				br
				br
				b 
					| A
			p
		div(class="col-lg-4")
			img(src='../images/legislacao.jpg', class="img-circle img-responsive")
