extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-8")
			h2 Legislação
			p(class="lead", class="text-justify")
				b PESSOA FÍSICA
				br
			p(class="lead", class="text-justify") Poderá deduzir até 6% do imposto devido estimado na declaração a ser entregue no ano seguinte 
				b (Legislação: art.22, da Lei 9.532/97 e Decreto 3000/99), 
				| ou 3% do  imposto realmente devido, apurado no ato do preenchimento da declaração entregue até o ultimo dia útil do mês de abril 
				b (Lei nº 12.594/12 -Art 87  de 18/01/12 e Instrução Normativa RFB nº 1.311 de 31/12/12). 
				| Só se aplica às doações em espécie; e  não exclui ou reduz outros benefícios ou deduções em vigor.
			br
			p(class="lead", class="text-justify") O pagamento da doação deve ser efetuado até a data de vencimento da primeira quota ou quota única do imposto, observadas instruções específicas da Secretaria da Receita Federal do Brasil.
			br
			p(class="lead", class="text-justify") No caso das pessoas físicas que têm imposto retido na fonte, também é possível a realização da doação para posterior devolução de parte do imposto aplicado em incentivo.
			br
			p(class="lead", class="text-justify") Cabe ao contribuinte avaliar o melhor momento de realizar a doação. Caso possua segurança e uma estimativa confiável do quanto vai pagar de imposto é recomendável realizar as doações dentro do próprio ano-base, depositando a doação até o último dia útil do ano, assegurando a dedução total de 6%. Se houver incerteza é prudente esperar a apuração definitiva do IRPF e calcular o quanto pode ser destinado ao FMDCA, lembrando que o limite de dedução neste caso fica reduzido para 3% do imposto devido.
		div(class="col-lg-4")
			img(src='../images/legislacao.jpg', class="img-circle img-responsive")
