extends ../layout

block content
	div(class="jumbotron")
		div(class="col-lg-8")
			h1 Obrigado!
			p(class="lead")
				| A sua doação será processada após o pagamento. 
				| Foi enviado uma cópia do boleto para seu e-mail.
				br
				br
				b 
					| Manteremos contato por e-mail.
			p
		div(class="col-lg-4")
			img(src='../images/tks.jpg', class="img-circle img-responsive")
