extends ../layout

block content
	br
	div(class="jumbotron")
		h2 Sobre o Sistema
		div(class="col-lg-12")
			br
			br
			p(class="lead", class="text-justify") O Destina IR é um projeto que tem por objetivo tornar mais prático o processo de destinação do imposto de renda para instituições assistenciais. Ele foi elaborado como trabalho de conclusão no curso, no Tecnologo em Sistemas para Internet das Faculdades Integradas de Taquara (FACCAT) [www.faccat.br].
			p(class="lead", class="text-justify") Esse projeto faz parte da campanha de destinação do imposto de renda pessoa física (IRPF), promovido pelas FACCAT. Mais detalhes sobre essa campanha podem ser obtidos em [http://www2.faccat.br/portal/?q=node/2722] e [http://www2.faccat.br/portal/?q=node/2314].
			p(class="lead", class="text-justify") O Destina IR foi desenvolvido pelo acadêmico Diego Candido, sob orientação do professor Msc Leonardo Sápiras. Participaram também do projeto o coordenador do curso de Ciências Contabéis, professor Sérgio Nikolay, um auditor da Receita Federal, Roberto Bellini, membros do Conselho Municipal dos Direitos da Criança e do Adolescente (COMDICA), da Apae e do Lar Padilha, ambos do município de Taquara.
			p(class="lead", class="text-justify") Em Taquara, o COMDICA é o orgão que auxilia instituições assistenciais de amparo as crianças, tais como a Apae e o Lar Padilha. O valor destinado do IPRF proporciona para essas entidades, recursos financeiros que são importantes para a manutenção das mesmas.
			p(class="lead", class="text-justify") Uma das motivações para o desenvolvimento do Destina IR, é que em 2015, no município de Taquara, foram destinados para o COMDICA apenas 10% de um potencial de R$ 996 mil. Esse baixo valor ocorre pois os membros do COMDICA precisam realizar a coleta de doações, manualmente, e de casa em casa. O Destina IR é uma ferramenta que simplifica o processo de destinação do imposto de renda tornando ele mais prático.
			p(class="lead", class="text-justify")
				b Nos ajude a manter as entidades sociais de Taquara.
			br
			br
			div(class="col-lg-3")
				div(align="center")
					img(src='../images/candido.jpg', width="150px", class="img-circle img-responsive")
				p
				b(style="text-align:center") Diego Candido
			div(class="col-lg-3")
				div(align="center")
					img(src='../images/sapiras.jpg', width="150px", class="img-circle img-responsive")
				p
				b(style="text-align:center") Leonardo Sápiras
			div(class="col-lg-3")
				div(align="center")
					img(src='../images/nicolay.jpg', width="150px", class="img-circle img-responsive")
				p
				b(style="text-align:center") Sérgio Nikolay
			div(class="col-lg-3")
				div(align="center")
					img(src='../images/belini.jpg', width="150px", class="img-circle img-responsive")
				p
				b(style="text-align:center") Roberto Bellini
