extends ../layout

block content
	h1 #{dados.entidade}
	hr
	div(class="jumbotron")
			div(class="col-lg-3")
				img(src='../img/logo-larpadilha.jpg')
				br
				h1 R$ #{dados.valortotal}
				br
				a(href="../login" class="btn btn-lg btn-success") Fazer doação
				br
				br
			div(class="col-lg-8")
				p #{dados.texto}
	div(class="jumbotron")
