extends ../layout

block content
	h1 #{dados.entidade}
	hr
	div(class="jumbotron")
			div(class="col-lg-8")
				p Foi criado em abril de 1978, por iniciativa do Pastor Sebaldo Nornberg, fundador da ABEFI (Associação Beneficente Evangélica Floresta Imperial), mantenedora do Lar Padilha até hoje. Através de seus contatos dentro da Igreja Evangélica de Confissão Luterana do Brasil (IECLB), o pastor angariou fundos na Europa para adquirir o prédio do antigo Hospital de Padilha, transformando-o num abrigo para crianças, com o propósito de acolher crianças e adolescentes empobrecidos e sem moradia, oriundos das redondezas de Novo Hamburgo. Na época, o Lar tinha o perfil mais próximo de um orfanato.
				p Atualmente, a instituição, além de acolher e proteger em regime de abrigo, também realiza oficinas lúdicas terapêuticas, tais como acompanhamento escolar, artístico, cultural e esportivo. O público atendido são crianças a partir de zero anos de idade e adolescentes até os 18 anos incompletos.
				p Hoje o Lar Padilha atende cerca de 100 crianças e adolescentes. Embora haja casos de orfandade, a maioria deles vem de famílias desestruturadas, seja pelas drogas, pela violência, pela miséria ou pela negligência. Praticamente todos tem histórico de abusos, maus-tratos, violência sexual ou abandono absoluto.
				p O Lar mantém sua sede na localidade de Padilha, interior de Taquara, onde tem três casas, uma para as crianças de 5 a 12 anos e outras duas para os adolescentes, onde os meninos ficam em uma delas e as meninas n'outra.
				p Também mantém o Centro de Defesa e Proteção Social Lar Padilha, que está situado no centro de Taquara e atende crianças de zero a 11 anos de idade, além de disponibilizar uma República para o acolhimento de adolescentes acima de 18 anos, até que consigam manter-se sozinhos.
				p Dentro do abrigo, os jovens têm seus direitos garantidos, sendo oferecidos alimentação, lazer, esportes, saúde, reforço escolar, formação religiosa, atendimento psicológico e proteção, conforme o Estatuto da Criança e do Adolescente - ECA. Todos estão regularmente matriculados em escolas municipais e estaduais de Taquara e, recebem transporte escolar.
				p Os adolescentes são encaminhados a cursos profissionalizantes externos ao Lar Padilha, bem como inseridos no mercado de trabalho por intermédio do Programa Aprendiz Legal, oportunizando perspectivas reais de mudança do ciclo social a que estavam inseridos. Aqueles que completam a maioridade civil e não possuem condições de retorno ao convívio familiar são encaminhados para o Projeto República, apoiado pela FLD.
				p Os principais resultados percebidos são a proteção das crianças e adolescentes acolhidos, frente aos riscos e vulnerabilidades sociais e o fortalecimento de vínculos familiares que o serviço psicossocial do abrigo faz, buscando o retorno e uma melhor relação com o convívio familiar.
				p Para que não percam seus vínculos familiares, o Lar Padilha mantém um Programa de Reinserção Familiar, através do qual uma Assistente Social visita regularmente as famílias desses jovens, com o objetivo de inseri-las nas redes sociais do poder público, viabilizar a visitação mensal das crianças e agilizar o processo de desligamento do abrigo.
				p Pelo importante trabalho realizado na promoção ao retorno familiar e comunitário, no ano de 2007, o Lar Padilha foi premiado pela AMB (Associação dos Magistrados do Brasil). Toda esta estrutura faz com que o Lar Padilha seja referência no segmento de abrigos em nível estadual.
			div(class="col-lg-3")
				img(src='../img/logo-larpadilha.jpg')
				br
				br
				a(href="../login" class="btn btn-lg btn-success") Fazer doação
				br
				br
	div(class="jumbotron")
