extends ../layout

block content
	br
	h2 2 PASSO: Informe o valor
	div(class="row")
		div(class="col-lg-12")
		form(method="POST", action="../../doar/boleto", role="form")
			div(class="col-lg-3")
			div(class="col-lg-3")
				img(src='../../img/#{lista.logo}', class="img-rounded img-responsive", width="550")
			div(class="col-lg-3")
				br
				br
				input(type="hidden", name="_identidade", value="#{lista._id}")
				input(type="hidden", name="_idusuario", value="#{session._id}")
				input(type="hidden", name="beneficiaria", value="#{lista.nomedaentidade}")
				b Valor da doação sem centavos:
				br
				input(type="text", class="form-control input", name="valordoado", id="entrada", placeholder="R$ XXX")
				b(id="saida")
				br
				button(type="submit", class="btn btn-lg btn-success", id="id-show", style="display: none;") Fazer doação
			div(class="col-lg-3")
	div(class="row")
		div(class="col-lg-2")
		div(class="col-lg-8")
			b Caso queira saber qual valor pode doar, utilize o simulador da Receita Federal
			a(href='http://www26.receita.fazenda.gov.br/irpfsimulaliq/private/pages/simuladoraliquota.jsf?tipoSimulador=M', target='_blank')  clicando aqui
		div(class="col-lg-2")

block scripts
	script(src="/js/jquery.mask.min.js")
	script(type="text/javascript").
		$(function(){
			$('input[name="valordoado"]').mask('00000');
		});
	script(type="text/javascript").
		var X = 10;
			$("#entrada").blur(function() {
				var numero = parseInt($(this).val());
					if (X > numero) {
						$("#saida").html("Doação mínimo é R$ 10");
						$("#id-show").hide("slow");
					}else{
						$("#saida").html("");
						$("#id-show").show("slow");
					}
			});
		
		
